body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  height: 100vh;
  display: flex;
  background-color: rebeccapurple;
  transform: skewY(15deg);
}

.container {
  align-self: center;
}

h1 {
  font-size: 3rem;
}

img {
  width: 50vw;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}
